<div class="col-3" style="padding-top:8em">
  <h4 style="text-align:right">It is <span id="hour"></span>:<span id="min"></span> <span id="ampm"></span> <br>
                              <span id="day"></span> <span id="mon"></span> <span id="date"></span>.<br>
                              <a class="ul" href="/about">help/about.</a><br><a class="ul" href="/">home.</a></h4>
</div>

<script src="../assets/js/time.js"></script>
<script language="JavaScript">setTime()</script>
<style>span { font-size: inherit; }</style>
