---
layout: "wrapper"
---

<!-- Header -->
<div class="container-fluid" style="background-color: white; height: 100vh; padding-left: 5vw; padding-right:5vw">
    <div class="row justify-content-center">
        <div class="col" style="padding-top:4em">
          <h1>This website was made <br>
              in a very short time and <br>
              for no money.</h1>
          <h3 style="padding-top: 1em">My apologies if there are any issues with it; <br>
                                        I would appreciate it if you could let me know <br>
                                        what issues there are, however. You can reach me <br>
                                        on Facebook at Liam Chung, or at lwalkerchung@gmail.com.</h3>
        </div>
    </div>
</div>
