---
layout: "wrapper"
---

<!-- Header -->
<div class="container-fluid" style="background-color: white; height: 100vh; padding-left: 5vw; padding-right:5vw">
    <div class="row justify-content-center">
        <div class="col-9" style="padding-top:4em">
          <h1>Welcome to the<br>Burnside 911<br>Math Help Desk.</h1>
        </div>
    {% include time.html %}
    </div>
    <div class="row justify-content-between" style="padding-top: 16em; padding-left: 3em; padding-right: 3em">
        <div class="col">
          <h3><a id="tutor-link" href="/sign-in">I'm a tutor</a></h3>
        </div>
        <div class="col">
          <h3><a id="tutee-link" href="/tutor-list">I'm seeking a tutor</a></h3>
        </div>
    </div>
</div>
